<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=EYVoting;User ID=sa;password=1;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
    <!--<httpModules>
      <add name="AccessControlModule" type="AccessControlModule"/>
    </httpModules>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="InvitationPath" value="Template\\Invitation\\{0}\\Invitation{1}.docx"/>
    <add key="OriginInvitationPath" value="Template\\Invitation\\Invitation.docx"/>
    <add key="EventAcknowledgementPath" value="Template\\EventAcknowledgement\\{0}\\EventAcknowledgement.docx"/>
    <add key="OriginEventAcknowledgementPath" value="Template\\EventAcknowledgement\\EventAcknowledgement.docx"/>
    <add key="LiveVotingFormPath" value="Template\\LiveVotingForm\\{0}\\LiveVotingForm.docx"/>
    <add key="OriginLiveVotingFormPath" value="Template\\LiveVotingForm\\LiveVotingForm.docx"/>
  </appSettings>
  <system.webServer>
    <caching>
      <profiles>
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="DontCache" varyByQueryString="*"/>
      </profiles>
    </caching>
    <staticContent> 
    </staticContent>
  </system.webServer>
</configuration>